USE [master]
GO
/****** Object:  Database [BookLibrary]    Script Date: 3/1/2023 5:04:34 PM ******/
CREATE DATABASE [BookLibrary]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookLibrary', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BookLibrary.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookLibrary_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BookLibrary_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookLibrary].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookLibrary]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 3/1/2023 5:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookCode] [int] IDENTITY(1,1) NOT NULL,
	[BookTitle] [nvarchar](100) NOT NULL,
	[Author] [nvarchar](50) NOT NULL,
	[Edition] [int] NULL,
	[BookPrice] [money] NULL,
	[Copies] [int] NULL,
 CONSTRAINT [PK_BookCode] PRIMARY KEY CLUSTERED 
(
	[BookCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IssueDetails]    Script Date: 3/1/2023 5:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IssueDetails](
	[BookCode] [int] NOT NULL,
	[MemberCode] [int] NOT NULL,
	[IssuseDate] [datetime] NULL,
	[ReturnDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookCode] ASC,
	[MemberCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 3/1/2023 5:04:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberCode] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[PhoneNumber] [int] NULL,
 CONSTRAINT [PK_MemberCode] PRIMARY KEY CLUSTERED 
(
	[MemberCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([BookCode], [BookTitle], [Author], [Edition], [BookPrice], [Copies]) VALUES (1, N'M?t đ?i như k? t?m đư?ng', N'Phan Văn Trư?ng', NULL, 120.0000, 3)
INSERT [dbo].[Book] ([BookCode], [BookTitle], [Author], [Edition], [BookPrice], [Copies]) VALUES (2, N'Một đời như kẻ tìm đường', N'Phan Văn Trư?ng', NULL, 120.0000, 3)
INSERT [dbo].[Book] ([BookCode], [BookTitle], [Author], [Edition], [BookPrice], [Copies]) VALUES (3, N'Một đời như kẻ tìm đường', N'Phan Văn Trường', NULL, 120.0000, 3)
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
INSERT [dbo].[IssueDetails] ([BookCode], [MemberCode], [IssuseDate], [ReturnDate]) VALUES (3, 1, CAST(N'2025-09-09T09:09:09.000' AS DateTime), CAST(N'2025-09-29T09:09:09.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([MemberCode], [Name], [Address], [PhoneNumber]) VALUES (1, N'Nguyễn Văn A', N'Hà Nội', 394903)
SET IDENTITY_INSERT [dbo].[Member] OFF
GO
/****** Object:  Index [Phone_Unique]    Script Date: 3/1/2023 5:04:35 PM ******/
ALTER TABLE [dbo].[Member] ADD  CONSTRAINT [Phone_Unique] UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IssueDetails]  WITH CHECK ADD  CONSTRAINT [FK_BookCode] FOREIGN KEY([BookCode])
REFERENCES [dbo].[Book] ([BookCode])
GO
ALTER TABLE [dbo].[IssueDetails] CHECK CONSTRAINT [FK_BookCode]
GO
ALTER TABLE [dbo].[IssueDetails]  WITH CHECK ADD  CONSTRAINT [FK_MemberCode] FOREIGN KEY([MemberCode])
REFERENCES [dbo].[Member] ([MemberCode])
GO
ALTER TABLE [dbo].[IssueDetails] CHECK CONSTRAINT [FK_MemberCode]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [Check_Price] CHECK  (([BookPrice]>(0) AND [BookPrice]<(200)))
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [Check_Price]
GO
USE [master]
GO
